
/* hover tooltip */
.react-stockcharts-tooltip-content
{
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2));
}

.react-stockcharts-indicator-options
{
  pointer-events: all;
  cursor: pointer;
}

.react-stockchart-indicator-box
{
  fill: #f0f0f0;
  /* -webkit-filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .2)); */
  /* filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .2)); */
  cursor: pointer;

}


/* recharts components */

.recharts-legend-item 
{ 
  font-size: 10px; 
}