.custom__alert__box
{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  /* min-width: 350px; */
  /* height: 60px; */
  box-shadow: rgba(17, 17, 26, 0.1) 2px 2px 10px;
  z-index: 100000;
  border-radius: 3px;
  transition: 0.4s;
  display: flex;
} 

.custom__alert__box.active
{
  /* display: flex; */
  top: 3%;
}

.custom__alert__box .custom__alert__box__container
{
  width: 100%;
  height: 100%;
  position: relative;
}

.custom__alert__box .custom__alert__sideline
{
  position: absolute;
  left: 0;
  width: 6px;
  height: 100%;
}

.custom__alert__box .custom__alert__content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.custom__alert__box .custom__alert__content .custom__alert__text
{
  margin-right: 20px;
  width: 90%;
}

.custom__alert__box .custom__alert__content .custom__alert__text h6
{
  font-size: 14px;
}

.custom__alert__box .custom__alert__content .custom__alert__text p
{
  font-size: 12px;
  font-weight: 600;
  word-wrap: break-word;
}

.custom__alert__box .custom__alert__content .custom__alert__close
{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 3px;
}

.custom__alert__box .custom__alert__content .custom__alert__close img
{
  width: 12px;
  height: 12px;
}

.custom__alert__box .custom__alert__content .custom__alert__close:hover
{
  background-color: #f3f3f3;
}


.custom__alert__box .custom__alert__bottom__line
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
}

@keyframes animateLine{
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}
